* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
  filter: brightness(50%);
  background: url(assets/moon.avif);
  background-position: center;
  background-size: cover;
}

#date {
  position: relative;
  z-index: 100;
  margin-block-end: 20px;
  padding: 4px 80px;
  color: white;
  background-color: #0000008b;
  font-size: x-large;
  font-weight: 500;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 5px;
}
#time {
  padding: 0px 50px;
  border-radius: 14px;
  position: relative;
  z-index: 100;
  background: rgba(0, 0, 0, 0.362);
  font-size: 108px;
  color: #ffffff;
}
#desc {
  position: relative;
  z-index: 100;
  margin-block-start: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
}

.switch {
  position: absolute;
  z-index: 20;
  top: 5px;
  right: 5px;
  height: 460px;
  width: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .switch {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: end;
  }
}

.icon {
  width: 100px;
  height: 66px;
  border-radius: 10px;
  transform: translateX(50px);
  transition: transform linear 0.3s;
}

@media screen and (max-width: 1000px) {
  .icon {
    transform: translateY(20px);
  }
}

.icon:hover {
  cursor: pointer;
  outline: 2px solid white;
  transform: translateX(0px);
}

.icon:nth-child(3) {
  background: url(./assets/bg-img.avif);
  background-size: cover;
  background-position: center;
}
.icon:nth-child(2) {
  background: url(./assets/fog.avif);
  background-size: cover;
  background-position: center;
}
.icon:nth-child(1) {
  background: url(./assets/moon.avif);
  background-size: cover;
  background-position: center;
  transform: translateX(0px);
}
.icon:nth-child(4) {
  background: url(./assets/forest.avif);
  background-size: cover;
  background-position: center;
}
.icon:nth-child(5) {
  background: url(./assets/raccon.avif);
  background-size: cover;
  background-position: center;
}
.icon:nth-child(6) {
  background: url(./assets/squirrel.avif);
  background-size: cover;
  background-position: center;
}
